.message-height {
 min-height: 180px !important;
 height: 180px !important;
}

.textarea-height {
  min-height: 125px !important;
  height: 125px !important;
}

.button-height {
  height: 50px !important;
}

.button-text {
  margin-left: 2px !important;
  font-weight: bold;
}

.enter-button {
  zoom: 1.3 !important;
  margin-right: 5px;
}

ion-grid {
  ion-row{
    ion-col{
      ion-button{
        height: 70px !important;
        ion-icon{
        zoom: 2;
          color: var(--ion-color-primary);
        }
      }
    }
  }
}

