.display-msg-image {

}

.delete-button {
align-items: center !important;
  margin: 0px !important;
  padding: 0px !important;
}

.delete-button-icon{
margin: 0px !important;
  padding: 0px !important;

}
