.bottom-button {
  position: fixed;
  left: 0;
  bottom: 03px;
  right: 0;
}

.ion-button-start {
  --border-radius: 0px;
  height: 40px !important;
  margin: 0px !important;
  border: 0px !important;
}
