.column {
  float: left;
  width: 33%;
  color: #870744;
  text-align: left;
  vertical-align: middle;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.spacer {
  width: 100%;
}
